/** sass file **/

.help {
	cursor: help;
}

.underlined {
	text-decoration: underline;
}

.justify-align {
	text-align: justify;
}

.ng-enter, .ng-move {
	animation:  zoomIn 0.3s;
}

.ng-leave {
	animation: zoomOut 0.3s;
}

.ng-hide-add {
	animation:  fadeOut 0.5s;
}

.ng-hide-remove {
	animation: fadeIn 1s;
}