<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 - Not Found</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="text-center" style="margin-top: 50px;">
					<img src="/img/error-404-v2.png" alt="404">
				</p>
				<h1 class="text-center text-muted">404 - NOT FOUND</h1>
				<p class="lead text-center">
					Halaman yang Anda minta tidak dapat ditemukan
				</p>
			</div>
		</div>
	</div>
</body>
</html>