		<div class="row">
			<div class="col-sm-12 shadow-z-2" id="home-title2">
				<div class="row">
					<div class="col-sm-3 col-md-2 visible-md visible-lg">
						<p><a href="/home"><img src="/img/logo.png" alt="logo"></a></p>
					</div>
					<div class="col-xs-10 col-sm-7 col-md-8">
						<h3 style="margin-top: 3px" class="text-center">APLIKASI MANAJEMEN SEKOLAH DASAR</h3>
						<p class="text-center">{{sekolah.nama}} &mdash; {{sekolah.kabupaten}}</p>
					</div>
					<div class="col-xs-2">
						<p class="text-right"><a href="/logout"><i class="fa fa-fw fa-sign-out"></i>KELUAR</a></p>
						<p class="text-right versi">v.1.0 beta</p>
					</div>
				</div>
			</div>
		</div>