<!-- scroll to top -->
<a href="" class="scrollToTop btn btn-danger btn-fab btn-raised mdi-editor-vertical-align-top tooltips" title="gulung ke atas" data-placement="bottom"></a>

<!-- modal untuk info siswa -->
{% include 'modal.html' %}

<!-- jquery, bootstrap and angular -->
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/material.min.js"></script>
<script src="/js/ripples.min.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>

<!-- helper dan tools -->
<script src="/js/helper.min.js"></script>
<script src="/js/tools.min.js"></script>
<script src="/js/vegas.min.js"></script>

<!-- angular app, controller and directives -->
<script src="/js/custom/app.js"></script>
<script src="/js/custom/directive.js"></script>
<script src="/js/custom/directive-form.js"></script>
<script src="/js/custom/main-ctrl.js"></script>
	
{% if page == 'index' %}
<script>
$("body").vegas({
	slides: [
		{ src: "/img/bg1.jpg" },
		{ src: "/img/bg2.jpg" },
		{ src: "/img/bg3.jpg" },
		{ src: "/img/bg4.jpg" }
	],
	overlay: true, cover: true,
	transition: 'random'
});
</script>
{% endif %}
	
<!-- jika ada notifikasi -->
{% if notifikasi %}
<script>
	{% if notifikasi.type %}
	alertify.success('{{notifikasi.pesan}}');
	{% else %}
	alertify.error('{{notifikasi.pesan}}');
	{% endif %}
</script>
{% endif %}

<script>
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scrollToTop').fadeIn();
		} else {
			$('.scrollToTop').fadeOut();
		}
	});
	$('.scrollToTop').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
</script>